<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/98.css" />
    @*<link rel="stylesheet" href="https://unpkg.com/98.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />

    <title>Chukkadig</title>
</head>
<body>
    <vc:display-login-user></vc:display-login-user>
    <div class="container-fluid" style="position:relative; width:600px">
        <div class="bg-dark-subtle mt-5">
            <div class="title-bar">
                <div class="title-bar-text">
                    <img src="~/imgs/icons8-zip-80.png" width="20" />
                    Ziplink
                </div>
                <div class="title-bar-controls">
                </div>
            </div>
            @RenderBody()
            <vc:statistic-summary></vc:statistic-summary>
        </div>
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>