@model Statistic
<div class="status-bar" style="position: absolute; top: 283px; width:573px; z-index:3;">
    <p class="status-bar-field" style="font-size:12px">Total URL alive: @Model.UrlAlive.ToString("##,#")</p>
    <p class="status-bar-field" style="font-size:12px">Remening: @Model.Remening.ToString("##,#")</p>
    <p class="status-bar-field text-end" style="font-size:12px">Contact: dev.kokora@gmail.com</p>
</div>