@page
@model URL_Shortener.Pages.IndexModel

<div class="window-body" style="position:absolute;">
    <menu role="tablist">
        <li role="tab" aria-selected="true"><a href="/">Home</a></li>
        <li role="tab"><a href="/login">Login</a></li>
        <li role="tab"><a href="/manager">Manage URL</a></li>
    </menu>
</div>
<div class="window" role="tabpanel" style="height: 250px; position: relative; top: 35px;">
    <div class="window-body">
        <div class="container text-center">
            <p><strong>Paste your URL into the text field.</strong></p>
            <div class="field-row justify-content-center">
                <form method="post">
                    <label asp-for="LongUrl" for="text17">URL:</label>
                    <input asp-for="LongUrl" id="text17" type="text" style="width:322px;" placeholder="Enter the link here" />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
