@page
@model URL_Shortener.Pages.LoginModel


<div class="window-body" style="position:absolute;">
    <menu role="tablist">
        <li role="tab"><a href="/">Home</a></li>
        <li role="tab" aria-selected="true"><a href="/login">Login</a></li>
        <li role="tab"><a href="/manager">Manage URL</a></li>
    </menu>
</div>
<div class="window" role="tabpanel" style="height: 250px; position: relative; top:35.8px;">
    <div class="window-body">
        <div class="container">
            <div class="form">
                <div class="field-row-stacked" style="width: 200px">
                    <label for="text22">Email</label>
                    <input id="text22" type="email" value="your@email.com" />
                </div>
                <div class="field-row-stacked" style="width: 200px">
                    <label for="text23">Password</label>
                    <input id="text23" type="password" value="hunter2" />
                </div>
                <div class="row justify-content-start">
                    <div class="col-3">
                        <button class="mt-3 align-content-end" type="submit">Login</button>
                    </div>
                    <div class="col-4">
                        <a href="register" class="link-offset-1-hover text-end" style="font-size:12px;">register here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
