@page
@model URL_Shortener.Pages.ManagerModel


<div class="window-body" style="position:absolute;">
    <menu role="tablist">
        <li role="tab"><a href="/">Home</a></li>
        <li role="tab"><a href="/login">Login</a></li>
        <li role="tab" aria-selected="true"><a href="/manager">Manage URL</a></li>
    </menu>
</div>
<div class="window" role="tabpanel" style="height: 250px; position: relative; top: 35.8px;">
    <div class="window-body">
        <div class="container">
            <div class="sunken-panel" style="height: 200px; width: 300px;">
                <table class="interactive">
                    <thead>
                        <tr>
                            <th>Shorten URL</th>
                            <th>Full URL</th>
                            <th>View count</th>
                            <th>Date (dd/mm/year)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>mini.net/sdf7w</td>
                            <td>https://learn.microsoft.com/en-us/dotnet/core/introduction</td>
                            <td class="text-end">1278</td>
                            <td class="text-end">12/05/2024</td>
                        </tr>
                        <tr>
                            <td>mini.net/j04wa</td>
                            <td>https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/</td>
                            <td class="text-end">234789</td>
                            <td class="text-end">24/02/2028</td>
                        </tr>
                        <tr>
                            <td>mini.net/e5b90</td>
                            <td>https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-8.0#kestrel</td>
                            <td class="text-end">8374</td>
                            <td class="text-end">01/12/2030</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
