@page
@model URL_Shortener.Pages.ManagerModel


<div class="window-body" style="position:absolute;">
    <menu role="tablist">
        <li role="tab"><a href="/">Home</a></li>
        <li role="tab"><a href="/login">@(Model._userService.User is null ? "Login" : "Logout")</a></li>
        <li role="tab" aria-selected="true"><a href="/manager">Manage URL</a></li>
    </menu>
</div>
<div class="window" role="tabpanel" style="height: 250px; position: relative; top: 35px;">
    <div class="window-body">
        <div class="container">
            <div class="sunken-panel" style="height: 200px; width: 300px;">
                <table class="interactive">
                    <thead>
                        <tr>
                            <th>Shorten URL</th>
                            <th>Full URL</th>
                            <th>View count</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.urls is not null)
                        {
                            @foreach (var url in Model.urls)
                            {
                                <tr>
                                    <td>@url.ShortUrl</td>
                                    <td>@(url.LongUrl.Length > 30 ? url.LongUrl[8..30] + "..." : url.LongUrl)</td>
                                    <td class="text-end">@url.VisitorCount</td>
                                    <td class="text-center bg-success text-white">OK</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
