@page
@model URL_Shortener.Pages.registerModel


<div class="window-body" style="position:absolute;">
    <menu role="tablist">
        <li role="tab"><a href="/">Home</a></li>
        <li role="tab"><a href="/login">Login</a></li>
        <li role="tab"><a href="/manager">Manage URL</a></li>
        <li role="tab" aria-selected="true"><a href="/register">Register</a></li>
    </menu>
</div>
<div class="window" role="tabpanel" style="height: 250px; position: relative; top: 35px;">
    <div class="window-body">
        <div class="container">
            <form class="form" method="post">
                <div class="field-row-stacked" style="width: 200px">
                    <label asp-for="Email" for="text22">Email</label>
                    <input asp-for="Email" id="text22" type="email" placeholder="@@email"/>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="field-row-stacked" style="width: 200px">
                    <label asp-for="Password" for="text23">Password</label>
                    <input asp-for="Password" id="text23" type="password" placeholder="password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="field-row-stacked" style="width: 200px">
                    <label asp-for="ComfirmPassword" for="text24">Comfirm password</label>
                    <input asp-for="ComfirmPassword" id="text24" type="password" 
                           placeholder="comfirm password"/>
                    <span asp-validation-for="ComfirmPassword"></span>
                </div>
                <div class="row justify-content-start">
                    <div class="col-3">
                        <button class="mt-3 align-content-end" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
